:root{
    --bg: white;
    --text: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

.dark{
    --bg: #0f172a;
    --textColor: #ddd;
    --SoftBg: #1f273a;
    --gray: #a0a0a0;
    --softTextColor: #a6a6a6;
}

.container{
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--text);
}

.wrapper{
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
}

.admin-wrapper{
    padding: 10px 20px 0px 20px;
}

.content{
    padding-top: 5px;
    margin-left: 180px;
    position: relative;
}

@media screen and (max-width: 1536px) {
    .wrapper{
        max-width: 1150px;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper{
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper{
        max-width: 760px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 760px) {
    .wrapper{
        max-width: 640px;     
    }
}

@media screen and (max-width: 640px) {
    .wrapper{
        max-width: 475px;
        
    }
}