.burger{
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line{
    width: 100%;
    height: 2px;
    background-color: var(--text);
}

.responsiveMenu{
    position: absolute;
    top: 100px;
    left: 2%;
    background-color: bisque;
    border-radius: 15px;
    height: 400px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 25px;
    z-index: 100;
}